*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-image: url(./images/intersection.png);
}

.heading {
  margin-top: 50px;
  margin-bottom: 0;

  color: brown;

  font-size: 40px;
  text-align: center;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;

  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 1px 2px 4px 2px rgba(128, 128, 128, 0.4);
}

.field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: calc(25%);
  margin: 10px;
  padding: 20px;

  border-radius: 5%;
  background-color: lightgray;
  box-shadow: inset 1px 2px 4px 2px rgba(128, 128, 128, 0.4);

  perspective: 300px;
}

.time {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  border-radius: 5%;
  box-shadow: 1px 2px 4px 2px rgba(128, 128, 128, 0.4);
}

.value {
  padding: 10px;
  margin: 5px;
  width: 50%;

  border-radius: 5px;
  background-color: rgb(80, 80, 80);
  color: white;
  box-shadow: 1px 2px 4px 2px rgba(128, 128, 128, 0.4);

  font-size: 60px;
  text-align: center;
}

#timer-1 .value {
  width: 75%;
}

.label {
  margin-top: 15px;

  color: rgb(163, 39, 39);

  text-transform: uppercase;
  font-weight: 700;
}

.watchword {
  margin-top: 50px;

  color: brown;

  font-size: 30px;
  text-align: center;
}
